@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght,BNCE,INFM,SPAC@0,410,-39,3,3.4;1,410,-39,3,3.4&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.header {
  width: 100vw;
  padding: 5px 25px;
}

.container {
  background-color: #830300;
  width: 100%;
  /* max-width: ; */
  margin: 0 auto;
  padding: 12px 50px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navlog img {
  height: 55px;
  width: 60px;
}
.navlog img:hover {
  border-radius: 20px;
  box-shadow: 1px 2px 1px  white;
  transition: 0.2s;
}

.navlinks ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navlinks li {
  padding: 5px 10px;
  margin: 5px 8px;
}

.navlinks li a {
  color: rgb(216, 189, 189);
  font-family: "Shantell Sans", cursive;
  font-size: 26px;
  letter-spacing: 2px;
}

.navlinks ul li a:hover {
  /* text-shadow: 2px 10px 7px black; */
  color: azure;
}

.section {
  display: flex;
  flex-direction: column;
}

.topsection {
  padding: 120px 80px 80px;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/25/1016/19/galatasaray-soccer-sports-wallpaper-preview.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 140vh;
}

.topsection a {
  font-size: 100px;
  text-align: center;
  font-weight: bold;
  color: #c33821;
  letter-spacing: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 5px 5px 5px darkred;
}

.topsection a:hover {
  cursor: pointer;
  text-shadow: 0 2px 2px yellow;
}

.bottomsection {
  background-color: rgb(226, 231, 226);
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  text-align: center;
}

.bottomsection > h2 {
  font-size: 60px;
  letter-spacing: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 0px 2px 2px yellow;
}

.bottomsection p {
  margin: 5px auto;
  text-align: justify;
  width: 65%;
  font-size: 28px;
}

.products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 90%;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0;
  width: 23%;
  border: 1px solid #830300;
  border-radius: 10px;
}

.productimg img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
}

.buyheader {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  border-radius: 0 0 10px 10px;
  padding: 20px 25px;
  background-color: #acacaac9;
}

.buyheader h2 {
  font-weight: bold;
  font-size: 28px;
  text-shadow: 0 2px 2px red;
}

.buy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.buy button {
  width: 65%;
  padding: 10px 2px;
  font-size: 18px;
  border: none;
  border-radius: 7px;
  background-color: #7b0406;
  color: white;
}

.buy button:hover {
  color: #967d7d;
  cursor: pointer;
  color: black;
}
